<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>blog-settings</title>

      <!-- Bootstrap core CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">

      <!-- Add custom CSS here -->
      <link href="/css/sb-admin.css" rel="stylesheet">
      <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin/">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav side-nav">
               <li><a href="/admin/"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
               <li><a href="/admin/newBlog"><i class="fa fa-edit"></i> New Blog</a></li>
               <li class="active"><a href="/admin/blogSet/1"><i class="fa fa-wrench"></i> Blog Settings</a></li>
               <li><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
          </ul>
           <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>Logs<span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Info<span class="label label-info">Info</span></a></li>
                <li><a href="#">Warn<span class="label label-warning">Warn</span></a></li>
                <li><a href="#">Error <span class="label label-danger">Error</span></a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>jcala<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                <li class="divider"></li>
                <li><a href="/admin/login"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Blogs <small>Blog Page Setting</small></h1>
            <ol class="breadcrumb">
              <li><a href="/admin/"><i class="fa fa-dashboard"></i>Monitor</a></li>
              <li class="active"><i class="fa fa-table"></i>Blogs</li>
            </ol>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <h2>All Pages</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>Blog<i class="fa fa-sort"></i></th>
                    <th>Tags<i class="fa fa-sort"></i></th>
                    <th>Operation<i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                #foreach($item in ${blogList})
                <tr>
                    <td>${item.Title}</td>
                    <td>${item.Tags}</td>
                    <td>
                        <a href="/admin/update${item.Vid}"><i class="fa fa-pencil"></i></a>
                        <a href="#myModal" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                #end
                </tbody>
              </table>
			  <center>
                #set( $current = ${currentPageId} )
                #set( $arr = [1..${pageNum}] )
			   <ul class="pagination">
                   #if($current<2)
                       <li class="disabled"><a href="#">&laquo;</a></li>
                     #else
                         #set($lastPage = $current - 1)
                         <li><a href="/admin/blogSet/$lastPage">&laquo;</a></li>
                   #end
                 #foreach($page in $arr)
                     #if($current==$page)
                         <li class="active"><a href="/admin/blogSet/$page">$page</a></li>
                       #else
                           <li><a href="/admin/blogSet/$page">$page</a></li>
                     #end
                 #end
                   #if($current>=$pageNum)
                       <li class="disabled"><a href="#">&raquo;</a></li>
                     #else
                       #set($nextPage = $current + 1)
                         <li><a href="/admin/blogSet/$nextPage">&raquo;</a></li>
                   #end
              </ul>
			  </center>
			 
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
    <!-- Page Specific Plugins -->


  </body>
</html>