#include("/module/admin/header.vm")
<link href="/css/editormd.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
#include("/module/admin/nav.vm")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6 column">
                <center>
                    <form role="form" class="form-inline" name="blogForm">
                        <input type="hidden" name="vid" value="${blog.Vid}"/>
                        <div class="form-group">
                            <label for="blogTitle">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题" value="${blog.Title}"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput" value="${blog.Tags}"/>
                        </div>
                        <input type="hidden" name="md" id="form-md"/>
                        <input type="hidden" name="article" id="form-article"/>
                        <div class="form-group">
                            <label for="blogSubmit">submit</label>
                            <input type="submit" class="form-control jcala-input" id="update-blog" value="update"/>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-md-6 column">
                <div class="styled-select">
                    <select id="editormd-theme-select">
                        <option disabled="disabled">select Editor.md themes</option>
                    </select>
                    <select id="editor-area-theme-select">
                        <option disabled="disabled">select editor area themes</option>
                    </select>
                    <select id="preview-area-theme-select">
                        <option disabled="disabled">select preview area themes</option>
                    </select>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;">${blog.Md}</textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script src="/js/jcala-form.js"></script>
</body>
</html>