#include("/templates/module/admin/header.vm")
<link href="/css/editormd.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
#include("/templates/module/admin/nav.vm")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6 column">
                <center>
                    <form role="form" class="form-inline" name="blogForm">
                        <div class="form-group">
                            <label for="blogTitle" class="text-warning">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags" class="text-warning">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput"/>
                        </div>
                        <input type="hidden" name="md" />
                        <input type="hidden" name="article" />
                        <div class="form-group">
                            <label for="blogSubmit" class="text-warning">submit</label>
                            <input type="submit" class="form-control jcala-input" id="add-blog" value="save"/>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-md-6 column">
                    <div class="styled-select">
                            <select id="editormd-theme-select">
                                <option disabled="disabled">select Editor.md themes</option>
                            </select>
                            <select id="editor-area-theme-select">
                                <option disabled="disabled">select editor area themes</option>
                            </select>
                            <select id="preview-area-theme-select">
                                <option disabled="disabled">select preview area themes</option>
                            </select>
                    </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script src="/js/jcala-md-form.js"></script>
</body>
</html>