<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>change-info</title>

      <!-- Bootstrap core CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">

      <!-- Add custom CSS here -->
      <link href="/css/sb-admin.css" rel="stylesheet">
      <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin/">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
              <li><a href="/admin/"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
              <li><a href="/admin/newBlog"><i class="fa fa-edit"></i> New Blog</a></li>
              <li><a href="/admin/blogSet"><i class="fa fa-wrench"></i> Blog Settings</a></li>
              <li class="active"><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
          </ul>

           <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>Logs<span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Info<span class="label label-info">Info</span></a></li>
                <li><a href="#">Warn<span class="label label-warning">Warn</span></a></li>
                <li><a href="#">Error <span class="label label-danger">Error</span></a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>jcala<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                <li class="divider"></li>
                <li><a href="/admin/login"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Info Page <small>change-info</small></h1>
            #* <button class="btn btn-primary"><i class="icon-save"></i> Save</button>*#
          </div>
        </div><!-- /.row -->
    <div class="row">
          <div class="col-lg-12">
            <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
      <li><a href="#profile" data-toggle="tab">Password</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
	  
    <form>
  <div class="form-group">
    <label class="text-warning">username</label>
    <input type="text" class="form-control" placeholder="jcala">
  </div>
  <div class="form-group">
    <label class="text-warning">email</label>
    <input type="email" class="form-control"  placeholder="jcala@example.com">
  </div>
    <div class="form-group">
        <label class="text-warning">github</label>
        <input type="text" class="form-control"  placeholder="https://github.com/jcalaz">
    </div>
    <div class="form-group">
        <label class="text-warning">twitter</label>
        <input type="text" class="form-control"  placeholder="https://twitter.com/jcalazzp">
    </div>
    <div class="form-group">
        <label class="text-warning">website</label>
        <input type="text" class="form-control"  placeholder="http://www.jcala.me/">
    </div>
        <div class="form-group">
            <label class="text-warning">real_name</label>
            <input type="text" class="form-control"  placeholder="左志鹏">
        </div>
    <div class="form-group">
        <label class="text-warning">sex</label>
            <div class="input-group">
        	        <label ng-repeat="option in field.options" class="text-info">
                        <input type="radio" name="sex" value="male" checked="checked">male
        	        </label>&#12288;
                <label ng-repeat="option in field.options" class="text-info">
                    <input type="radio" name="sex" value="female">female
                </label>
            </div>
    </div>
        <div class="form-group">
            <label class="text-warning">education experience</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="text-warning">project experience</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="text-warning">technique</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="text-warning">advantage</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
  <button type="submit" class="btn btn-primary">Update</button>
   </form>
      </div>
      <div class="tab-pane fade" id="profile">
    <form id="tab2">
        <label class="text-warning">old password</label>
        <input type="password" class="form-control">
        <label class="text-warning">new password</label>
        <input type="password" class="form-control">
        <div>
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
      </div>
  </div>
</div>
          </div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>