#include("/templates/module/admin/header.vm")
#include("/templates/module/admin/nav.vm")
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>Info</h1>
            <ol class="breadcrumb">
                <li><a href="/admin/"><i class="fa fa-dashboard"></i>Monitor</a></li>
                <li class="active"><i class="fa fa-table"></i>profile</li>
            </ol>
        </div>
    </div><!-- /.row -->

    <div class="row">
          <div class="col-lg-12">
            <div class="well">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
                  <li><a href="#profile" data-toggle="tab">Password</a></li>
                    <li><a href="#avatar" data-toggle="tab">Avatar</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                    <form name="infoForm">
                      <div class="form-group">
                        <label class="text-warning">username</label>
                        <input type="text" class="form-control" value="$!{info.Username}" name="username">
                      </div>
                      <div class="form-group">
                        <label class="text-warning">email</label>
                        <input type="email" class="form-control"  value="$!{info.Email}" name="email">
                      </div>
                        <div class="form-group">
                            <label class="text-warning">github</label>
                            <input type="text" class="form-control"  value="$!{info.Github}" name="github">
                        </div>
                        <div class="form-group">
                            <label class="text-warning">twitter</label>
                            <input type="text" class="form-control" value="$!{info.Twitter}" name="twitter">
                        </div>
                      <button type="submit" class="btn btn-primary" id="info_update">Update</button>
                   </form>
                  </div>
                    <div class="tab-pane fade" id="profile">
                        <br>
                        <form id="tab2" name="newPassForm">
                            <label class="text-warning">old password</label>
                            <input type="password" class="form-control" name="old_pass" id="old_pass">
                            <label class="text-warning">new password</label>
                            <input type="password" class="form-control" name="new_pass" id="new_pass_one">
                            <label class="text-warning">repeat new password</label>
                            <input type="password" class="form-control" id="new_pass_two">
                            <div>
                                <button class="btn btn-primary" id="update_pass">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="avatar">
                        <br>
                        <div class="login-avatar" style="background: url($!{info.Avatar}) no-repeat center center;"></div>
                        <br>
                        <form action="/admin/file/uplAva.action" method="post" enctype="multipart/form-data">
                            <input type="file" class="form-control" name="avatar" multiple>
                            <input type="submit" class="form-control">
                        </form>
                    </div>
                </div>
            </div>
          </div>
    </div><!-- /.row -->
</div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->
<!-- JavaScript -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/jquery.bootstrap-growl.min.js"></script>
<script src="/js/jcala-form.js"></script>
  </body>
</html>