#include("/module/admin/header.vm")
<link href="/css/morris-0.4.3.min.css" rel="stylesheet">
#include("/module/admin/top_nv.vm")
<li class="active"><a href="/admin"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
<li><a href="/admin/blogAdd"><i class="fa fa-edit"></i> Add Blog</a></li>
<li><a href="/admin/blogList/1"><i class="fa fa-wrench"></i> Blog List</a></li>
<li><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
#include("/module/admin/btm_nv.vm")
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>The number of visits</h3>
              </div>
              <div class="panel-body">
                <div id="number-visits"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>The usage of memory</h3>
              </div>
              <div class="panel-body">
                <div id="memory-donut"></div>
              </div>
            </div>
          </div>
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>The usage of CPU</h3>
                    </div>
                    <div class="panel-body">
                        <div id="cpu-donut"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Page Specific Plugins -->    <script src="/js/raphael-min.js"></script>
    <script src="/js/morris-0.4.3.min.js"></script>
    <script src="/js/chart-data-morris.js"></script>
   <script type="text/javascript">
       Morris.Area({
           element: 'number-visits',
           data: [
               { d: '2016-10-01', visits: 802 },
               { d: '2016-10-02', visits: 783 },
               { d: '2016-10-03', visits:  820 },
               { d: '2016-10-04', visits: 839 },
               { d: '2016-10-05', visits: 792 },
               { d: '2016-10-06', visits: 859 },
               { d: '2016-10-07', visits: 790 },
               { d: '2016-10-08', visits: 1680 },
               { d: '2016-10-09', visits: 1592 },
               { d: '2016-10-10', visits: 1420 },
               { d: '2016-10-11', visits: 882 },
               { d: '2016-10-12', visits: 889 },
               { d: '2016-10-13', visits: 819 },
               { d: '2016-10-14', visits: 849 },
               { d: '2016-10-15', visits: 870 },
               { d: '2016-10-16', visits: 1063 },
               { d: '2016-10-17', visits: 1192 },
               { d: '2016-10-18', visits: 1224 },
               { d: '2016-10-19', visits: 1329 },
               { d: '2016-10-20', visits: 1329 },
               { d: '2016-10-21', visits: 1239 },
               { d: '2016-10-22', visits: 1190 },
               { d: '2016-10-23', visits: 1312 },
               { d: '2016-10-24', visits: 1293 },
               { d: '2016-10-25', visits: 1283 },
               { d: '2016-10-26', visits: 1248 },
               { d: '2016-10-27', visits: 1323 },
               { d: '2016-10-28', visits: 1390 },
               { d: '2016-10-29', visits: 1420 },
               { d: '2016-10-30', visits: 1529 },
               { d: '2016-10-31', visits: 1892 }
           ],
           xkey: 'd',
           ykeys: ['visits'],
           labels: ['Visits'],
           smooth: false,
       });
       Morris.Donut({
           element: 'memory-donut',
           data: [
               {value: 70, label: 'Used memory'},
               {value: 30, label: 'Residual memory'}
           ],
           backgroundColor: '#ccc',
           labelColor: '#060',
           colors: [
               '#0BA462',
               '#95D7BB'
           ],
           formatter: function (x) { return x + "%"}
       });
       Morris.Donut({
           element: 'cpu-donut',
           data: [
               {value: 5, label: 'Used CPU'},
               {value: 95, label: 'Residual CPU'}
           ],
           backgroundColor: '#ccc',
           labelColor: '#060',
           colors: [
               '#0BA462',
               '#95D7BB'
           ],
           formatter: function (x) { return x + "%"}
       });
   </script>

  </body>
</html>
