<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin-newBlog</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" href="/css/editormd.min.css" />
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="/admin/"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
                <li class="active"><a href="/admin/newBlog"><i class="fa fa-edit"></i> New Blog</a></li>
                <li><a href="/admin/blogSet"><i class="fa fa-wrench"></i> Blog Settings</a></li>
                <li><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown alerts-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>Logs<span class="badge">3</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Info<span class="label label-info">Info</span></a></li>
                        <li><a href="#">Warn<span class="label label-warning">Warn</span></a></li>
                        <li><a href="#">Error <span class="label label-danger">Error</span></a></li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>jcala<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                        <li class="divider"></li>
                        <li><a href="/admin/login"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <center>
                #*<form role="form" class="form-inline" action="/admin/saveBlog" method="post">*#
                    <form role="form" class="form-inline" name="blogForm">
                        <div class="form-group">
                            <label for="blogTitle">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput"/>
                        </div>
                        <input type="hidden" name="markdown" />
                        <input type="hidden" name="article" />
                        <div class="form-group">
                            <label for="blogSubmit">submit</label>
                            <input type="submit" class="form-control" value="save" onclick="saveBlog()"/>
                        </div>
                    </form>
                </center>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("markdown-editor", {
            width   : "100%",
            height  : 800,
            syncScrolling : "single",
            path    : "../lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "./php/upload.php?test=dfdf",
            saveHTMLToTextarea : true
        });
        $("#get-md-btn").bind('click', function(){
            alert(testEditor.getMarkdown());
        });

        $("#get-html-btn").bind('click', function() {
            alert(testEditor.getHTML());
        });
    });
</script>
</body>
</html>