#include("./module/admin/or_header.vm")
      <div id="page-wrapper">
        <div class="row">
          <div class="col-md-12 column">
		 <center>
             #*<form role="form" class="form-inline" action="/admin/saveBlog" method="post">*#
			<form role="form" class="form-inline" name="blogForm">
				<div class="form-group">
					 <label for="blogTitle">Title</label>
					 <input type="text" class="form-control" name="title" placeholder="请输入博客标题"/>
				</div>
				<div class="form-group">
					<label for="blogTags">Tags</label>
					 <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput"/>
				</div>
                <input type="hidden" name="markdown" />
                <input type="hidden" name="article" />
				<div class="form-group">
					 <label for="blogSubmit">submit</label>
					 <input type="submit" class="form-control" value="save" onclick="saveBlog()"/>
				</div>
			</form>
			</center>
		</div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->
	  
      <div id="page-wrapper">
        <div class="row">
          <div class="col-md-12 column">
			<iframe src="/html/editor.html" id="mdEditor" width="100%" height="750" scrolling="no" frameborder="0"></iframe>
		</div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript">
        function saveBlog() {
            var form = document.forms[0];
            form.action = "/admin/saveBlog";
            form.method = "post";
            var editor = document.getElementById('mdEditor').contentWindow;
            document.blogForm.article.value=editor.document.getElementsByTagName("article")[0].innerHTML;
            form.submit();
        }

    </script>
  </body>
</html>