#include("/module/admin/header.vm")
#include("/module/admin/nav.vm")
<div id="page-wrapper">
    <div class="row">
    <div class="col-lg-12">
        <h1>Project</h1>
        <ol class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-dashboard"></i>Monitor</a></li>
            <li class="active"><i class="fa fa-table"></i>open source</li>
        </ol>
        <button class="btn btn-default btn-lg" id="add_project"><i class="fa fa-plus"></i> <span class="network-name">Add project</span></button>
        <br><br><br>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>name</th>
                    <th>address</th>
                    <th>operation</th></tr>
                </thead>
                <tbody>
                #foreach($item in ${proList})
                    #liClass($velocityCount)
                    <td>${item.Name}</td>
                    <td>${item.Url}</td>
                    <td>
                       <a href='javascript:void(0)'><i class="fa fa-pencil upd_project" name="${item.Id}"></i></a>
                    <a class="delete" role="button" href="/admin/deletePro/${item.Id}"  data-title="Delete this project!" data-confirm-button="Yes">
                        <i class="fa fa-trash-o" name="del_project"></i></a>
                    </td>
                </tr>
                #end
                </tbody>
            </table>
            <center>
                #flip($pageNum  $current)
            </center>
        </div>

    </div>
</div><!-- /.row -->
</div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/jquery.confirm.min.js"></script>
<script src="/js/jcala-form.js"></script>
</body>
</html>