#include("/module/admin/header.vm")
#include("/module/admin/nav.vm")
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div><!-- /.row -->
</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>