<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="2;url=${targetUrl}">
    <link rel="stylesheet" href="/css/error-page.css" type="text/css">
</head>
<body><h1 class="success">Operation succeeded!</h1>
<p class="success">Congratulations,Your operation has been successful.</p>
</body>
</html>