<div class="container top-container">
    <div class="header-title">
        <div class="header-title-wrapper"><h1>About</h1>
            <p>关于我自己</p>
        </div>
    </div>
</div>
<div class="container main-container">
    <div class="post">