html,
body {
    line-height: 1.75em;
    background: #ebebeb;
    position: relative;
}
.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
}