@charset "UTF-8";
html,
body {
    line-height: 1.75em;
    background: #f4f4f4;
    position: relative;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post {
    padding: 35px;
    background: #FFFFFF;
    margin-bottom: 35px;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
}
.post ul.tags{
    margin-left: 0px;
    padding-left: 50px;
}

.post ul.tags li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}
ul.tags li{
    margin: 30px 40px;
}
a{
    text-decoration:none;
    padding: 10px 10px;
    color: #6B4226;
}
a:link{
    text-decoration:none;
    color: #6B4226;
}
a:visited{
    text-decoration:none;
    color: #6B4226;
}
a:hover{
    text-decoration:none;
    color: #bea180;
    background: #e6e6e6;
}
a:active{
    text-decoration:none;
    color: #6B4226;
}
.archive {
    margin: 3em auto;
    font-size: 16px;
    max-width: 520px; }
.archive .year {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 400;
    color: #414b61;
    font-family: Athelas, Times New Roman, STHeiti, Microsoft Yahei, serif; }
.archive .post-item {
    padding: 2px 10px;
    border-left: 1px solid #cacaca; }
.archive .post-item:hover {
    padding-left: 13px;
    border-left: 3px solid #6B4226;
    transition: 0.2s ease-out; }
.archive .post-item a:hover {
    color: #bea180;
}
.archive .post-time {
    display: inline-block;
    width: 12%;
    margin: 0 10px;
    color: #8a8a8a; }
.archive .post-time.tag, .archive .post-time.category {
    margin-left: 10px;
    width: 20%; }
.archive .post-link {
    width: 75%;
    display: inline-block;
    color: #6B4226;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 6px;
}
.default-tag{
    font-size: 30px;
}