#parse("/templates/module/header.vm")
<div class="container theme-light">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="login-avatar" style="background: url($!{info.Avatar}) no-repeat center center;">
            </div>
            <div class="editormd-preview" id="md-container">
                <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
                    $!{resume}
                </div>
            </div>
        </div>
    </div>
</div>
#include("/templates/module/footer.vm")