#include("/module/header.vm")
<div class="container main-container">
    <div class="post">
        <div class="content"><p>${userInfo.Introduce}</p>
            <ul>
                <li>Email: <a href="mailto:${userInfo.email}">${userInfo.email}</a></li>
                <li>Homepage: <a href="http://${userInfo.homePage}">${userInfo.homePage}</a></li>
                <li>Github: <a href="https://github.com/${userInfo.githubName}">${userInfo.githubName}</a></li>
                <li>Twitter: <a href="https://twitter.com/${userInfo.twitterName}">${userInfo.twitterName}</a></li>
            </ul>
            <h3><a href="https://jcala.me/about#AboutMe">AboutMe</a></h3>
            #if(${userInfo.aboutMe})
                #ulList(${userInfo.aboutMe})
            #else
            #end
            <h3><a href="https://jcala.me/about#experience">experience</a></h3>
            #if(${userInfo.experience})
                #ulList(${userInfo.experience})
            #else
            #end
        </div>
    </div>
</div>
#include("/module/footer.vm")