#include("/module/blog-head.vm")
#include("/module/header/about.vm")
        <div class="content"><p>我是jcala(zzp),2017年将从西南交通大学毕业. </p>
            <ul>
                <li>Email: <a href="mailto:jcalaz@163.com">jcalaz@163.com</a></li>
                <li>Homepage: <a href="http://jcala.me">http://jcala.me</a></li>
                <li>Github: <a href="https://github.com/jcalaz">Jcalaz</a></li>
                <li>Twitter: <a href="https://twitter.com/jcalazzp">@jcalazzp</a></li>
            </ul>
            <h3><a href="https://jcala.me/about#aboutMyself" name="aboutMyself">关于自己</a></h3>
            <ul>
                #foreach($item in ${aboutMyself})
                    <li>&#12288;&#12288;${item}</li>
                #end
            </ul>
            <h3><a href="https://jcala.me/about#experience" name="experience">编程经历</a></h3>
            <ul>
                #foreach($item in ${experience})
                    <li>&#12288;&#12288;${item}</li>
                #end
            </ul>
        </div>
#include("/module/blog-footer.vm")