#include("/module/header.vm")
<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="archive">
                #foreach($archive in ${archives})
                    <h2 class="year">${archive.Year}</h2>
                    #foreach($bv in ${archive.List})
                        <div class="post-item">
                            <div class="post-time">
                               ${bv.MonthDay}
                            </div>
                            <a href="/post/${bv.Vid}" class="post-link">${bv.Title}</a>
                        </div>
                    #end
                    <br><br>
                #end
            </div>
            #frontFlip($pageNum $current)
        </div>
    </div>
</div>
#include("/module/footer.vm")
