#parse("/module/blog-head.vm")
<div class="container main-container">
    <div class="post">
        <div class="content">
            <div class="year"><h2>2015</h2>
                <ul class="archive-list">
                    #foreach($item in ${archives})
                        <li><span class="month">$item.Month</span><span>&nbsp;&nbsp;·&nbsp;</span><a
                                href="$item.Href">$item.Title</a></li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>
#include("/module/blog-footer.vm")