<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An interesting place to discover">
    <meta name="author" content="Raysmond">
    <title> Posts Archive · Raysmond</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/github.css" type="text/css">
    <link rel="stylesheet" href="/css/typo.min.css" type="text/css">
    <link rel="stylesheet" href="/css/theme-light.css" type="text/css">
    <script async="" src="/js/analytics.js"></script>
    <script src="/js//jquery.min.js"></script>
</head>
<body class="typo">
<nav class="navbar navbar-bright">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="https://raysmond.com/">Raysmond</a></div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blogs">Blogs</a>
                </li>
                <li>
                    <a href="/archives">Archives</a>
                </li>
                <li>
                    <a href="/tags">Tags</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="header-title">
        <div class="header-title-wrapper"><h1>Posts Archive</h1>
            <p>Look back and find something interesting.</p></div>
    </div>
</div>
<div class="container main-container">
    <div class="post">
        <div class="content">
            <div class="year"><h2>2015</h2>
                <ul class="archive-list">
                    <li><span class="month"> Nov 27</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/expper-open-source"> 我决定把 Expper 文章收藏和分享网站的源码开源了</a></li>
                    <li><span class="month"> Oct 12</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/projects"> Projects</a></li>
                    <li><span class="month"> Oct 06</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/filco-minila-air-experience"> 入手Filco Minila Air机械键盘</a>
                    </li>
                    <li><span class="month"> Oct 02</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/ubuntu-nginx-ssl-configuration"> Ubuntu下Nginx配置和使用SSL证书</a>
                    </li>
                    <li><span class="month"> Sep 30</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/spring-boot-auto-deployment"> 如何在Ubuntu
                        14.04服务器上自动化部署Spring Boot的应用</a></li>
                    <li><span class="month"> Sep 28</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/auto-mysql-backup-in-ubuntu"> How to backup MySQL database
                        daily automatically in Ubuntu/Linux</a></li>
                    <li><span class="month"> Sep 28</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/web-application-settings-model-with-redis-in-spring-mvc">
                        在Spring MVC中网站配置存储在Redis和数据库中的解决方法</a></li>
                    <li><span class="month"> Sep 28</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/spring-data-redis-in-spring-mvc"> 在Spring MVC中使用Spring Data
                        Redis</a></li>
                    <li><span class="month"> Sep 26</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/redesign-raysmond-personal-website"> 重新设计个人网站
                        raysmond.com</a></li>
                    <li><span class="month"> Sep 26</span><span>&nbsp;&nbsp;·&nbsp; </span><a
                            href="https://raysmond.com/posts/helloworld"> HelloWorld</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <div class="footer-wrapper">
            <hr>
            <p> © · 2011-2015 &nbsp;<a href="http://raysmond.com/">Raysmond</a> ·<span> 2ms</span></p></div>
    </div>
</div>
<script>(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-34658010-1', 'auto');
ga('send', 'pageview');</script>
</body>
</html>