<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>jcala_blog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/blog-show.css" type="text/css">
</head>
<body>
    #include("/module/nav.vm")
<a name="home"></a>
<div id="container">
    <div id="wrap">
        <div class="outer">
            <section id="main">
                #foreach($item in ${articles})
                    <article id="${item.Id}" class="article article-type-post" itemscope="" itemprop="blogPost">
                        <div class="article-inner">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title"
                                       href="${item.Href}">开始使用Ionic2</a>
                                </h1>
                            </header>
                            <div class="article-meta">
                                    <time datetime="${item.DateTime}" itemprop="datePublished">${item.Date}</time>
                            </div>
                            <div class="article-entry" itemprop="articleBody">
                                    ${item.Body}
                                <p class="article-more-link">
                                    <a href="${item.Href}/#more">More...</a>
                                </p>
                            </div>
                        </div>
                    </article>
                #end
                <nav id="page-nav">
                    <span class="page-number current">1</span><a class="page-number" href="http://jcala.me/page/2/">2</a><a
                        class="extend next" rel="next" href="http://jcala.me/page/2/">Next »</a>
                </nav>

            </section>
        </div>
        <div class="container">
            <div class="footer">
                <div class="footer-wrapper">
                    <hr>
                    <p> © · 2016-2017 &nbsp;<a href="http://jcala.me/">jcala</a></p></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>