<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/result-page.min.css" type="text/css">
</head>
<body><h1>Sorry!</h1>
<p>Some error happened in server.</p></body>
</html>