#parse("/templates/module/header.vm")
<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">java,scala,goLang:</h2>
                    <p class="lead">They are three programming languages those i use most,and scala is my favorite</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/ipad.png" alt=""/>
                </div>
            </div>

        </div>
    </div>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">passion:</h2>
                    <p class="lead">The reason why i become a programmer just because i like it,rather than for living</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/img/dog.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer"/>
                    <div class="clearfix"></div>
                    <h2 class="section-heading">new:</h2>
                    <p class="lead">I never refuse new things. for example,I use gradle instead of maven or ant,because I think gradle is better</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/phones.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
#include("/templates/module/footer.vm")