#include("/module/header.vm")
<div class="container main-container">
    <div class="post">
        <div class="content">
            <p>Please go to my <a href="https://github.com/Raysmond">Github</a> page for more details.</p>
            #foreach($item in ${projects})
                <h2><a href="/projects#${item.Name}" name="expper">${item.Name}</a></h2>
                <ul>
                    #if(!${item.ShowHref})
                        <li><a href="${item.ShowHref}">${item.ShowHref}</a></li>
                    #end
                    #if(!${item.OpenSourceHref})
                        <li>Open source: <a href="${item.OpenSourceHref}">${item.OpenSourceHref}</a></li>
                    #end
                    <li>日期: ${item.ProjectDate}</li>
                    <li>简介:${item.Summary}</li>
                    <li>所用技术:${item.Technology}</li>
                </ul>
            #end
        </div>
    </div>
</div>
#include("/module/footer.vm")