#include("/module/header.vm")
<div class="container main-container">
    <div class="row post">
        <div class="col-sm-6 col-lg-4">
        <div class="content">
            <ul class="tags">
                #foreach($tag in ${tags})
                    <li><a class="btn btn-default" href="/tags/$tag">$tag</a></li>
                #end
            </ul>
        </div>
        </div>
    </div>
</div>
#include("/module/footer.vm")