#include("/module/blog-head.vm")
<div class="container top-container">
    <div class="header-title">
        <div class="header-title-wrapper"><h1>Tags</h1></div>
    </div>
</div>
<div class="container main-container">
    <div class="post">
        <div class="content">
            <ul class="tags">
                #foreach($tag in ${tags})
                    <li><a class="btn btn-default" href="$tag.href">$tag.title</a></li>
                #end
            </ul>
        </div>
    </div>
</div>
#include("/module/blog-footer.vm")