#macro(flip $pageNum  $current $href)
    #set( $arr = [0..$pageNum] )
<ul class="pagination">
    #if($current<2)
        <li class="disabled"><a href="#">&laquo;</a></li>
    #else
        #set($prevPage = $current - 1)
        <li><a href="$href/$prevPage">&laquo;</a></li>
    #end
    #foreach($page in $arr)
        #if($page > 0)
            #if($current==$page)
                <li class="active"><a href="$href/$page">$page</a></li>
            #else
                <li><a href="$href/$page">$page</a></li>
            #end
        #end
    #end
    #if($current>=$pageNum)
        <li class="disabled"><a href="#">&raquo;</a></li>
    #else
        #set($nextPage = $current + 1)
        <li><a href="$href/$nextPage">&raquo;</a></li>
    #end
</ul>
#end

#macro(liClass $count)
    #if($count%4 == 1)
    <tr class="active">
    #elseif($count%4 == 2)
    <tr class="success">
    #elseif($count%4 == 3)
    <tr class="warning">
    #else
    <tr class="danger">
    #end
#end

#macro(frontFlip $pageNum $current $href)
    #set($prev = $current - 1)
    #set($next = $current + 1)
    #if($pageNum<=1)
        #elseif($current<=1)
            <a href="$href/$next" class="default-tag" style="float: right"><i class="fa fa-chevron-right fa-fw"></i> <span class="network-name">Next</span></a>
        #elseif($current>=$pageNum)
            <a href="$href/$prev" class="default-tag"><i class="fa fa-chevron-left fa-fw"></i> <span class="network-name">Prev</span></a>
        #else
            <a href="$href/$prev" class="default-tag"><i class="fa fa-chevron-left fa-fw"></i> <span class="network-name">Prev</span></a>
            <a href="$href/$next" class="default-tag" style="float: right"><i class="fa fa-chevron-right fa-fw"></i> <span class="network-name">Next</span></a>
    #end
#end