#include("/module/admin/header.vm")
<link href="/css/blogset-confirm.css" rel="stylesheet">
#include("/module/admin/nav.vm")
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>All Blogs</h1>
            <ol class="breadcrumb">
              <li><a href="/admin/"><i class="fa fa-dashboard"></i>Monitor</a></li>
              <li class="active"><i class="fa fa-table"></i>Blogs</li>
            </ol>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <h2>All Pages</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th>Blog<i class="fa fa-sort"></i></th>
                    <th>Tags<i class="fa fa-sort"></i></th>
                    <th>Operation<i class="fa fa-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                #foreach($item in ${blogList})
                <tr>
                    <td>${item.Title}</td>
                    <td>${item.Tags}</td>
                    <td>
                        <a href="/admin/update${item.Vid}"><i class="fa fa-pencil"></i></a>
                        <a class="delete" role="button" href="/admin/delete/${item.Vid}"  data-title="Delete this blog!" data-confirm-button="Yes">
                            <i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                <tr>
                #end
                </tbody>
              </table>
			  <center>
                #set( $arr = [0..${pageNum}] )
			   <ul class="pagination">
                   #if($current<2)
                       <li class="disabled"><a href="#">&laquo;</a></li>
                     #else
                         #set($lastPage = $current - 1)
                         <li><a href="/admin/blogList/$lastPage">&laquo;</a></li>
                   #end
                 #foreach($page in $arr)
                     #if($page > 0)
                         #if($current==$page)
                             <li class="active"><a href="/admin/blogList/$page">$page</a></li>
                         #else
                             <li><a href="/admin/blogList/$page">$page</a></li>
                         #end
                     #end
                 #end
                   #if($current>=$pageNum)
                       <li class="disabled"><a href="#">&raquo;</a></li>
                     #else
                       #set($nextPage = $current + 1)
                         <li><a href="/admin/blogList/$nextPage">&raquo;</a></li>
                   #end
              </ul>
			  </center>
			 
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->
    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.confirm.min.js"></script>
    <script type="text/javascript">
        $(".delete").confirm();
    </script>
  </body>
</html>