#include("/module/admin/header.vm")
<link href="/css/editormd.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">

#include("/module/admin/top_nv.vm")
<li><a href="/admin"><i class="fa fa-area-chart"></i> Monitor</a></li>
<li class="active"><a href="/admin/blogAdd"><i class="fa fa-plus"></i> Add Blog</a></li>
<li><a href="/admin/blogList/1"><i class="fa fa-list"></i> Blog List</a></li>
<li><a href="/admin/info"><i class="fa fa-user"></i> Info</a></li>
<li><a href="/admin/resume"><i class="fa fa-male"></i> Resume</a></li>
#include("/module/admin/btm_nv.vm")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6 column">
                <center>
                    <form role="form" class="form-inline" name="blogForm">
                        <div class="form-group">
                            <label for="blogTitle" class="text-warning">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags" class="text-warning">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput"/>
                        </div>
                        <input type="hidden" name="md" />
                        <input type="hidden" name="article" />
                        <div class="form-group">
                            <label for="blogSubmit" class="text-warning">submit</label>
                            <input type="submit" class="form-control jcala" id="add-blog" value="save"/>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-md-6 column">
                    <div class="styled-select">
                            <select id="editormd-theme-select">
                                <option disabled="disabled">select Editor.md themes</option>
                            </select>
                            <select id="editor-area-theme-select">
                                <option disabled="disabled">select editor area themes</option>
                            </select>
                            <select id="preview-area-theme-select">
                                <option disabled="disabled">select preview area themes</option>
                            </select>
                    </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script src="/js/jcala-markdown.js"></script>
<script src="/js/jcala-form.js"></script>
</body>
</html>