#include("/module/admin/header.vm")
<link href="/css/editormd.min.css" rel="stylesheet"/>
<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
#include("/module/admin/top_nv.vm")
<li><a href="/admin/"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
<li><a href="/admin/newBlog"><i class="fa fa-edit"></i> New Blog</a></li>
<li><a href="/admin/blogSet/1"><i class="fa fa-wrench"></i> Blog Settings</a></li>
<li><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
<li class="active"><a href="#"><i class="fa fa-desktop"></i> Blog Revise</a></li>
#include("/module/admin/btm_nv.vm")
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <center>
                    <form role="form" class="form-inline" name="blogForm">
                        <div class="form-group">
                            <label for="blogTitle">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题" value="${blog.Title}"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput" value="${blog.Tags}"/>
                        </div>
                        <input type="hidden" name="md" />
                        <input type="hidden" name="article" />
                        <div class="form-group">
                            <label for="blogSubmit">submit</label>
                            <input type="submit" class="form-control" id="save-blog" value="update"/>
                        </div>
                    </form>
                </center>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;">${blog.Md}</textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function() {
        testEditor = editormd("markdown-editor", {
            width   : "100%",
            height  : 800,
            syncScrolling : "single",
            path    : "../lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "./php/upload.php?test=dfdf",
            saveHTMLToTextarea : true
        });
        $("#save-blog").bind('click', function(){
            var form = document.forms[0];
            form.action = "/admin/update/${blog.Vid}";
            form.method = "post";
            document.blogForm.article.value=testEditor.getHTML();
            document.blogForm.md.value=testEditor.getMarkdown();
            form.submit();
        });
    });
</script>
</body>
</html>