#include("/module/admin/header.vm")
<link href="/css/morris-0.4.3.min.css" rel="stylesheet">
#include("/module/admin/top_nv.vm")
<li class="active"><a href="/admin"><i class="fa fa-bar-chart-o"></i> Monitor</a></li>
<li><a href="/admin/blogAdd"><i class="fa fa-edit"></i> Add Blog</a></li>
<li><a href="/admin/blogList/1"><i class="fa fa-wrench"></i> Blog List</a></li>
<li><a href="/admin/info"><i class="fa fa-desktop"></i> Info</a></li>
#include("/module/admin/btm_nv.vm")
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>The number of visits</h3>
              </div>
              <div class="panel-body">
                <div id="number-visits"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i>The usage of memory</h3>
              </div>
              <div class="panel-body">
                <div id="memory-donut"></div>
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Page Specific Plugins -->    <script src="/js/raphael-min.js"></script>
    <script src="/js/morris-0.4.3.min.js"></script>
    <script src="/js/chart-data-morris.js"></script>
   <script type="text/javascript">
       Morris.Area({
           element: 'number-visits',
           data: [
                   #foreach($vi in ${VsiterList})
                       { d: '${vi.Day}', visits: ${vi.Size} },
                   #end
           ],
           xkey: 'd',
           ykeys: ['visits'],
           labels: ['Visits'],
           smooth: false,
       });
       Morris.Donut({
           element: 'memory-donut',
           data: [
               {value: $freeMemory, label: 'Residual memory'},
                   #set($used = 100 - $freeMemory)
               {value: $used, label: 'Used memory'}
           ],
           backgroundColor: '#ccc',
           labelColor: '#060',
           colors: [
               '#0BA462',
               '#95D7BB'
           ],
           formatter: function (x) { return x + "%"}
       });
   </script>

  </body>
</html>
