#include("/module/admin/header.vm")
<link href="/css/editormd.min.css" rel="stylesheet"/>
#include("/module/admin/nav.vm")
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-6 column">
                <form name="resumeForm" class="form-inline">
                    <input type="hidden" name="md">
                    <input type="hidden" name="resume">
                    <div>
                        <button class="btn btn-primary btn-block" id="update-resume" style="width: 250px;margin: 0 auto">Update</button>
                    </div>
                </form>
        </div>
        <div class="col-md-6 column">
            <div class="styled-select">
                <select id="editormd-theme-select">
                    <option disabled="disabled">select Editor.md themes</option>
                </select>
                <select id="editor-area-theme-select">
                    <option disabled="disabled">select editor area themes</option>
                </select>
                <select id="preview-area-theme-select">
                    <option disabled="disabled">select preview area themes</option>
                </select>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /#page-wrapper -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-12 column">
            <div id="markdown-editor">
                <textarea style="display:none;">${md}</textarea>
            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/jcala-form.js"></script>
</body>
</html>