<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="admin">
    <meta name="author" content="jcala">

    <title>admin</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/sb-admin.min.css" rel="stylesheet">
    <link href="/css/editormd.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-tagsinput.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/morris.js/0.4.3/morris.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Front end</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><a href="/admin"><i class="fa fa-area-chart"></i> Monitor</a></li>
                <li><a href="/admin/blogAdd"><i class="fa fa-plus"></i> Add Blog</a></li>
                <li><a href="/admin/blogList/1"><i class="fa fa-list"></i> Blog List</a></li>
                <li><a href="/admin/project/1"><i class="fa fa-calendar"></i> Project</a></li>
                <li><a href="/admin/info"><i class="fa fa-user"></i> Info</a></li>
                <li><a href="/admin/resume"><i class="fa fa-male"></i> Resume</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown alerts-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i>Logs<span class="badge">3</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Info<span class="label label-info">Info</span></a></li>
                        <li><a href="#">Warn<span class="label label-warning">Warn</span></a></li>
                        <li><a href="#">Error <span class="label label-danger">Error</span></a></li>
                    </ul>
                </li>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                        <li class="divider"></li>-->
                        <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>