    </div>
 </div>
 <div class="container">
    <div class="footer">
        <div class="footer-wrapper">
            <hr>
            <p> © · 2016-2017 &nbsp;<a href="http://jcala.me/">jcala</a></p></div>
    </div>
</div>
</body>
</html>