<footer class="jcala-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/archives/1">Archives</a>
                    </li>
                    <li>
                        <a href="/tags">Tags</a>
                    </li>
                    <li>
                        <a href="/projects/1">Projects</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/admin/">Admin</a>
                    </li>
                </ul>
                <p class="copyright text-muted small"></p>
            </div>
        </div>
    </div>
</footer>
</body>
<script type="text/javascript">
    function day_night() {
        var ele=document.getElementById("day-night");
        if (ele.className=="fa fa-sun-o"){
            ele.className="fa fa-moon-o";
            document.getElementById("day-night-name").textContent="NIGHT";
        }else {
            ele.className="fa fa-sun-o";
            document.getElementById("day-night-name").textContent="DAY";
        }
    }
</script>
</html>