<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>jcala_blog</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/landing-page.min.css" rel="stylesheet" id="theme-css"/>
    <link href="/css/jcala-md.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
</head>
<script type="text/javascript">
    function switch_theme_css() {
        var css=document.getElementById("theme-css");
        if(localStorage.blog_theme==undefined){
            localStorage.blog_theme="light";
        }
        if(localStorage.blog_theme=="dark"){
            css.href="/css/landing-page-dark.min.css";
        }
    }
    switch_theme_css();
</script>
<body>
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right myBar">
                <li>
                    <a href="/archives/1">Archives</a>
                </li>
                <li>
                    <a href="/tags">Tags</a>
                </li>
                <li>
                    <a href="/projects/1">Projects</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/admin/">Admin</a>
                </li>
                <li>
                    <a href='javascript:void(0)' onclick="day_night()"><i class="fa fa-moon-o" id="day-night"></i>
                        <span class="network-name" id="day-night-name">night</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>$!{info.Username}</h1>
                    <h3>my blog about programming</h3>
                    <hr class="intro-divider"/>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="mailto:$!{info.Email}" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                        <li>
                            <a href="$!{info.Github}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="$!{info.Twitter}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#content" id="blog_content"></a>