<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/landing-page.css" rel="stylesheet"/>
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>