#include("/module/header.vm")
<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            #foreach(${year} in ${archivesYears})
                <div class="year"><h2>${year.YearNumber}</h2>
                    <ul class="archive-list">
                        #foreach($item in ${year.Archives})
                            <li><span class="month">${item.Month}</span><span>&nbsp;&nbsp;·&nbsp;</span><a
                                    href="${item.Href}">${item.Title}</a></li>
                        #end
                    </ul>
                </div>
            #end
        </div>
    </div>
</div>
#include("/module/footer.vm")
