#include("/module/header.vm")
<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="editormd-preview" id="md-container">
                <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
                #foreach($item in ${projects})
                <h2>
                    <a class="reference-link"></a>
                    <span class="header-link octicon octicon-link"></span>
                    <a href="$!{item.Url}" title="jcala">$!{item.Name}</a></h2>
                <ul>
                    <li>
                        <strong>Date&nbsp;:&nbsp;</strong>$!{item.Date}</li>
                    <li>
                        <strong>Technology&nbsp;:&nbsp;</strong>$!{item.Tech}</li>
                    <li>
                        <strong>Discription&nbsp;:</strong>
                        <blockquote>
                            <p>$!{item.Desp}</p>
                        </blockquote>
                    </li>
                </ul>
                <br><br>
            #end
                </div>
            </div>
            #set($href = "/projects")
            #frontFlip($pageNum $current $href)
        </div>
    </div>
</div>
#include("/module/footer.vm")