#include("/module/header.vm")
<div class="container">
    <div class="row">
        <div class="col-lg-12 post">
            <div class="editormd-preview" style="display: block; width: 100%; height: 100%;">
                <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
                #foreach($item in ${projects})
                <h2 id="h2-jcalablog">
                    <a name="jcalaBlog" class="reference-link"></a>
                    <span class="header-link octicon octicon-link"></span>
                    <a href="${item.Url}" title="jcala">jcalaBlog</a></h2>
                <ul>
                    <li>
                        <strong>Date&nbsp;:&nbsp;</strong>${item.Date}</li>
                    <li>
                        <strong>Technology&nbsp;:&nbsp;</strong>${item.Tech}</li>
                    <li>
                        <strong>Discription&nbsp;:</strong>
                        <blockquote>
                            <p>${item.Desp}</p>
                        </blockquote>
                    </li>
                </ul>
                <br><br>
            #end
                </div>
            </div>
        </div>
    </div>
</div>
#include("/module/footer.vm")